 /* Theme */
/*****************************************************************************/
/* Dark / Default */
:root {
  --color-bg: #00394F;
  --color-fg: #F0F7FF;
}

/* Light */
@media (prefers-color-scheme: light) {
  :root {
    --color-bg: F0F7FF;
    --color-fg: #00394F;
  }
}

/* App */
/*****************************************************************************/
html,
body,
#root,
.App {
  height:  100%;
  min-height: 100%;
}

body {
  font-variation-settings: "wght" 375;
  background-color: var(--color-bg);
  background:
    conic-gradient(from 180deg at 100% 100%, 
      rgba(0, 0, 0, 1) 0%, 
      rgba(0, 64, 88, 1) 49%, 
      rgba(0, 0, 0, 1) 100%);
  color: var(--color-fg);
}

.dot-grid {
  --color-1: rgba(255, 255, 255, .35);
  --color-2: rgba(0,0,0,0);
  background-image: radial-gradient(circle at 1px 1px, var(--color-1) .5px, var(--color-2) 0);
  background-size: 25px 25px;
}
