@import './App.css';
/* @import "normalize.css"; */


body {
  font-family: 'iA Writer Duo V', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'iA Writer Mono V', monospace;
}
